<nav class="navbar" role="navigation" aria-label="main navigation">
    <div id="navbarURL" class="navbar-menu">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
            CleanCutBloons URL Shortener
        </a>
      </div>
      <div class="navbar-start">
        <a href="/main-page" class="navbar-item">
            URLs
        </a>
      </div>

      <div class="navbar-end">
        <a href="/sign-up" class="navbar-item">
          Sign Up
        </a>
        <a href="/login" class="navbar-item">
          Login
        </a>
      </div>
    </div>
  </nav>